@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  font-family: 'Geo', sans-serif;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 20vh;
}

.fade-in-hello {
  animation: fade 0.9s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

.App-header {
  text-align: right;
  background-color: #282c34;
  font-family: 'Geo', sans-serif;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 8vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#ul_top_hypers li{
  display: inline;
  padding: 0px 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
